# App
NODE_ENV=development
PORT=8080
APP_URL=http://localhost:8080

# Database SQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=eventsync_db
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql
DATABASE_URL=

# Database NoSQL
# full = Mongo wajib connect untuk fitur realtime
# sql-only = fallback opsional kalau mau jalan tanpa fitur realtime
MONGO_MODE=full
MONGO_URI=mongodb://127.0.0.1:27017/eventsync

# JWT
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=24h

# Google Cloud Storage
GCS_BUCKET_NAME=eventsync-files
GCS_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GCS_UPLOAD_FOLDER=uploads
GCS_MAKE_PUBLIC=false

# CORS
ALLOWED_ORIGINS=*